*.tar
*.csv
data/
*.soft
*.npy
*.pkl
/BackEnd/media/
/BackEnd/Marimo_server/FB/
/BackEnd/Marimo_server/assets/
/BackEnd/Storage/
/ExploretoryData/
.env
__pycache__
/BackEnd/Models/DMM/catboost_mlp_fussion/nas_gene_model/
/BackEnd/Models/DMM/catboost_mlp_fussion/nas_fusion_model/
/BackEnd/Models/DMM/LateFusion/best_models1/
/BackEnd/Models/DMM/LateFusion/nas_clinical_model/
/BackEnd/Models/DMM/LateFusion/nas_gene_model/
